@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.logo{
    height:45px;
    margin:0 80px;
}
.bg{
    background-color: rgb(249, 248, 246);
    min-height:400vh;
}
header{
    padding-top:10px;
    width: 100%;
    transition: 0.5s;
}
.scrolled{
    background-color: rgb(182, 211, 211);
}
.nav1{
    position: sticky;
    top:0;
    width: 100vw;
    z-index: 1000;
}
nav ul a li{
    list-style-type:none ;
    text-decoration: none;
    padding:7px 20px;
    margin:0 10px;
    border-width: 0px;
    border-style:solid;
    border-radius:20px;
    background-color: antiquewhite;
    transition: 0.6s;
}
.scrolled nav ul a li{
    background-color: rgb(255, 228, 147);
}
.scrolled nav ul a li{
    color:rgb(154, 46, 152);
}
nav ul a li:hover{
    background-color: rgb(253, 227, 193);
    transform: scale(1.03);
}

nav ul a{
    color: black;
    font-family: "Lobster";
    transition: 0.3s;
}
nav ul a:hover{
    color: rgb(139, 41, 41);
    text-decoration: none;
    transform: scale(1.03);
}

.active{
    background-image:linear-gradient(rgb(161, 113, 51),rgb(236, 219, 200),rgba(112, 85, 49, 0.94)) ;
}
.scrolled nav ul a li.active{
    background-image:linear-gradient(rgb(252, 211, 86),rgb(229, 235, 190),rgb(250, 216, 116)) !important;
    border-width: 1px;
    border-style: double;
    border-color: black;
}
.homepage{
    height:75vh;
    padding-top: 20vh;
}
.my_intro{
    padding-top: 25vh;
}
.my_accounts{
    padding-top: 15vh;
    /* margin-right: 5vw; */
}
.myimg1{
    height:70vh;
    border-radius: 200px;
    transition: 0.3s ;
}
.myimg1:hover{
    transform: scale(1.05);
}
.p1{
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.p2{
    font-size: 26px;
}
.my_name{
    font-weight: bold;
    font-family:"Bree Serif";
    font-size: 45px;
    background-image: url('images/text_bg.webp');
    background-size: cover;
    color: transparent;
    background-clip: text;
    transition: 0.4s ease;
}
.my_name:hover{
    transform: scale(1.1);
}

.icons{
    font-size: 28px;
    color:antiquewhite;
    text-align: center;
}

.icons_a{
    background-color: rgb(44, 44, 44);
    margin-bottom: 8px;
    border-radius: 100px;
    padding:8px;
    text-align: center;
    transition: 0.3s ease;
}

.icons_a:hover{
    transform: scale(1.1);
}

.clg{
    margin-top: 0;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    border-width: 0;
    width:150px;
    font-weight: 500;
    color:darkslategrey;
}
#homepage{
    margin-bottom: 40vh;
}
#aboutme{
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: aliceblue;
}
.AbMe{
    border-width: 2px;
    font-family: "Lobster";
    padding: 10px;
    width:400px;
    border-style: dotted;
    border-color:brown ;
    text-align: center;
    background-color: white;
}

.myimg2{
    margin-top: 40px;
    border-radius:1000px;
    transition: 0.3s;
}
.myimg2:hover{
    transform: scale(1.01);
}

.my_details{
    margin-top: 40px;
}
.name2{
    font-size: 30px;
    padding-top:20px;
}
.p3{
    font-size: 20px;
    padding-top:15px;
}

.my_details span{
    color:goldenrod;
}
#MySkills{
    padding-top:20vh;
    margin-bottom: 10vh;
}
#MySkills h4{
    font-weight: 500;
    text-decoration: underline;
}
#MySkills h4 span{
    text-decoration: none;
}
#MySkills li{
    font-size: 20px;
}
.my_skills_head{
    text-align: center;
    font-family: "Lobster";
    border-width:2px;
    padding: 5px;
    border-color:blueviolet;
    border-style:solid;
    color: rgb(103, 46, 46);
    background-image: linear-gradient(to right,lightgreen,white,lightgreen);
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.revealed{
    transform: translateY(0px);
    opacity: 1;
}
#MyWorks{
    padding:10vh 0;
    background-color: beige;
    
}
.myworks_head{
    font-weight: bold;
    text-align: center;
    color: rgb(94, 45, 5);
    margin-bottom: 5vh;
    font-family: "Lobster";
}
.card1{
    color:white;
    padding:15px 30px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(46, 42, 42),black,rgb(53, 47, 47));
    margin:auto;
    transition: 0.4s;
}
.card1:hover{
    transform: scale(1.05);
}
.card1 a{
    color:blueviolet;
}
.fm_head{
    color: wheat;
    padding: 15px 0;
}
.fm_p span{
    color:rgb(144, 162, 123);
}
.fm_img{
    width:100%;
    border-radius: 10px;
}
.contact_head{
    /* text-align: center; */
    color:rgb(87, 18, 46);
    font-weight: bold;
    font-family: "Lobster";
    margin-top: 10vh;
    margin-bottom: 0;
    padding-bottom: 0;
}
.p6{
    font-size: 20px;
    font-style: oblique;
}
.contact_details h5{
    color: rgb(34, 16, 51);
    font-weight: 500;
}
.p7{
    color: rgb(59, 29, 35);
}
.hor_line{
    border-color:rgb(221, 61, 219);
    border-width: 3px;
    width: 150px;
    text-align: center;
    margin-bottom: 5vh;
    display: block;
    padding-top: 0;
    margin-top: 0;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_con{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.form_details{
    margin-top: 20px;
    padding: 8px 30px;
    border-radius: 50px;
    border-width: 0;
    background-image: linear-gradient(to left,rgb(229, 205, 205),rgb(252, 200, 208),rgb(240, 226, 226));
}
.form_details::placeholder{
    color: rgb(101, 75, 75);
}
.form_but{
    margin-top: 5vh;
    padding: 5px 15px;
    width:150px;
    border-width:0px;
    background-image: radial-gradient(goldenrod,gold);
    color:white;
    border-radius: 20px;
}
.form_but:hover{
    border-color: rgb(50, 40, 15);
    border-width: 1px;
}
.form_mess{
    min-height: 150px;
}
.form_mess::placeholder{
    padding-top:30px;
    padding-left:20px;
}
